<ion-header>
  <ion-toolbar color="senamhiblue" >
    <DIV style="margin-left: 20px;">AVISO METEOROLÓGICO</DIV>
    <ion-buttons slot="end">
     <!-- <ion-button (click)="share()"><ion-icon name="share-social-outline" class="maintitle"></ion-icon></ion-button>-->
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" class="maintitle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="avisometeoro" style="width: 100%; height: 100%; position: absolute">
    
  </div>
</ion-content>