<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-grid class="full-width" >

    <ion-row >
      <ion-col>
       <ion-card margin margin-top class="full-width" class="cardtransparente">
         <ion-card-header class="datamain">
          <ion-icon style="font-size: x-large;" [src]="this.icono"></ion-icon>
              <h4>{{ titulolist }}</h4> 
           
         </ion-card-header>
       </ion-card></ion-col>
   </ion-row>

   <ion-row class="tempdet2">
    <ion-col style="TEXT-ALIGN: left;
    margin-left: 15px;">
      <ion-label>CAMBIAR MODO DE PANTALLA:</ion-label>
    </ion-col>
     
   </ion-row>
   <ion-row class="datamain2">
    <ion-col>
      <ion-segment  (ionChange)="segmentChanged($event)" scrollable [value]="selectedTheme">
        <ion-segment-button class="datamain2" value="light-theme">
          <ion-label><ion-icon style="width: 30px;height: 20px;" name="sunny-outline"></ion-icon> DÍA</ion-label>
        </ion-segment-button>
        <ion-segment-button class="datamain2" value="dark-theme">
          <ion-label><ion-icon style="width: 30px;height: 20px;" name="moon-outline"></ion-icon> NOCHE</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
     
   </ion-row>
   <ion-row class="tempdet2">
    <ion-col style="TEXT-ALIGN: left;
    margin-left: 15px;" ><ion-label>RECIBIR NOTIFICACIONES:</ion-label>
      
    </ion-col>
   
    </ion-row>
    <ion-row class="datamain2">
      <ion-col>

        <table class="tablavert4">
          <tr><td><ion-label>Temperatura</ion-label>
                  <p style="color: gray;">Mostrar temperatura <br>actual en la barra de estado</p>
            </td>
            <td> <ion-toggle [(ngModel)]="enabledLocal" (ionChange)="changeLocal($event)"></ion-toggle></td>
          </tr>
          <tr><td><ion-label>Aviso Senamhi</ion-label>
                  <p style="color: gray;">Recibir avisos de <br>peligros meteorológicos e hidrológicos</p>
            </td>
            <td ><ion-toggle [(ngModel)]="enabledExternal" (ionChange)="changeExternal($event)"></ion-toggle></td>
          </tr>
        </table>
     </ion-col>
       
     </ion-row>
     

  </ion-grid>

</ion-content>
