.dark-theme{

  ion-content{
   
    --background: url(../assets/images/APP_fondo_azul.png) no-repeat  50% 40%/100%;

  }
  

  ion-content.menu{
    --background: #062F6E;
  
 }

 ion-segment-button {
  --background-checked: transparent;
  --indicator-color: #949494;
}

 
    .datamainC2{
        color : #ffffff;
        font-size: 16px;
    }

    .tempmax{ color: #F1EABA; font-size: 80px; text-align: right;    margin-right: 15px;}
    
    .tempdet{ color:#ffffff; font-size: 15px ; text-align: left; }
    
    .tempdet2{ color: #F1EABA; font-size: 15px !important; font-weight: bold; }
    
    .tempdet3{ color:#ffffff;}

    .tempdet4{ color: #F1EABA; font-size: 12px !important; font-weight: bold; }

    .tablavertA{
        width: 100%;
        font-size: 12px !important;
        align-items: center;
        color:black
        
    }
      
    .tablavertA td {
        padding: 5px;
    }

    .tablavertB{
        width: 90%;
        font-size: 11px !important;
        align-items: LEFT;
        color:#ffffff
        //background: darkgray;
    }
      
    .tablavertB td {
        padding: 5px;
      
    }  

    .tablavertC{
        width: 100%;
        text-align: initial;
        margin-left:30px;
        color:#ffffff
       
      }
      
      .tablavertC td {
        padding: 3px;
        
      }
    
    .datamain{
        text-align: center;
        color:#ffffff;
    }

    .datamainL{
        text-align: left;
        color:#ffffff;
        margin-top: 8px;
        margin-left: 20%;
        
      }
    
    .datamainL2{
        text-align: left;
        color:#ffffff
        
    }

    .datamainL1{
        text-align: left;
        color:#ffffff
        
      }
      
      .datamainC{
        color:#ffffff;
        font-size: 20px;
        margin-left: 10%;
      }

      .datamain2{
        text-align: center;
        color:#ffffff;
        font-weight: bold;
      }

      .datamain2_1{
        text-align: left;
        color : #ffffff;
        font-weight: bold;
      }

      .datamain2Aviso{
        text-align: center;
        color:black;
        font-weight: bold;
      }

      .datamainjust{
        text-align: justify;
        color:#ffffff;
      }
      
      .datadetail{
        text-align: center;
        color :#ffffff;
        font-size: 11.5px;
      }

      .datamain3{
        text-align: center;
        color:#ffffff;
        font-weight: bold;
        margin-top: 10px;
      }

      .datamain4{

        color:#ffffff;
        font-weight: bold;

      }

      .searchbar-input.sc-ion-searchbar-md{
        background-color: #383a3e;
        color:#F9C000;
      }

      .searchbar-input.sc-ion-searchbar-ios{
        background-color: #383a3e;
        color:#F9C000;
      }

      .stylelist{
        background-color: #383a3e;
     }

      .stylelist2{
        color:#F9C000;
      }

      .listaavisosmarco{
        
        height:200px; 
        overflow: scroll;
        border-bottom: solid;
        border-top: solid;
        border-right: solid;
        border-left:solid;
        border-color: white;
      }

      .circle {
        background: white;
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }

    .datamain5{

      color:#ffffff;
      font-weight: bold;

    }

     
    .accordion-list{
      margin-bottom : 4px;
      --ion-item-background : transparent;
      --ion-item-color: #fff;
     
      .section, .section-active {
        --min-height : 58px;
        --ion-item-color: #fff;
        border:outset;
      }
    }
    
    .section{
      --ion-item-background: transparent;
      --ion-item-color: #fff;
      border:outset;
      ion-icon{
        color: #fff;
      }
    }
    
    .section-active{
      --ion-item-background: transparent;
      --ion-item-color:#fff;
      font-weight: 600;
    
      ion-icon{
        color: #fff;
      }
    }
}
