<ion-header>

</ion-header>

<ion-content>

  <ion-grid  class="full-width" class="cardtransparente" >
    <ion-row style="margin-top:60px" class="datamain2Aviso">
      <ion-col  colspan="2" [ngClass]="colorAviso(nivel)">AVISO NIVEL {{ textoNivel(nivel) | uppercase}}</ion-col>
    </ion-row>
    <ion-row class="datamain3">
      <ion-icon name="arrow-undo-outline" (click)="retornar()"></ion-icon>
       <ion-col  colspan="2">{{tituloaviso | uppercase }}</ion-col>
    </ion-row>
    <ion-row > 
      
   </ion-row>
   <ion-row >
    <table class="tablavertC">
      <tr>
        <td class="tempdet3">Emitido</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;" colspan="4">{{fechaemision}} (hora local)</td>
      </tr>
      <tr>
        <td class="tempdet3">Inicia</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;" colspan="4">{{fechainicio}} (hora local)</td>
      </tr>
      <tr>
        <td class="tempdet3">Finaliza</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 1px;" colspan="4">{{fechafin}} (hora local) </td>
       
      </tr>
      <tr>
        <td class="tempdet3">Vigencia</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;">{{vigencia}} horas </td>
        
      </tr>
      <tr>
        <td class="tempdet3">Para la ubicación de</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;">{{ciudad}} </td>
        
      </tr>
    </table>

   </ion-row>
    
     <ion-row class="datamain2">
      <table class="tablavert3">
        <tr>
          <td>Mapas</td>
          <td  *ngFor="let fechasreg of listamapas; let i=index" >
                      
                      {{ fechasreg.fechaInicio | titlecase | date :'dd-MMM'  }}
                    </td>
        </tr>
        <tr>
          <td>Nivel de Aviso según el usuario</td>
          <td *ngFor="let fechasreg1 of listamapas; let i=index" (click)="openModal(fechasreg1.fechaInicio,
          fechasreg1.numMapa,
          fechasreg1.nivelMapa,
          fechasreg1.descripcion)" [ngClass]="colorAvisoTD(i)">
            <p [ngClass]="colortextoCuadro(i)">{{ arrayNivel[i] }} </p><p [ngClass]="colortextoCuadro(i)">(Ver Mapa)</p>
          </td>
        </tr>
      </table>

  </ion-row>

    <ion-row class="datamainjust">
      <ion-col><p>{{descripcion1}}</p></ion-col>
     </ion-row>

     <ion-row class="datamainjust">
      <ion-col><p>Recomendación:</p><p> {{recomendacion}}</p></ion-col>
     </ion-row>

  </ion-grid>
</ion-content>