<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content responsive>
  <ion-grid style="margin-top: 20px"   class="full-width" class="cardtransparente" >
    <ion-row class="datamain2Aviso">
      <ion-col class="bannerAvisoBlanco">Aviso Nro {{avisoHidro.codAviso}}</ion-col>
      <ion-col [ngClass]="colorAviso(avisoHidro.codNivel)">Nivel {{ avisoHidro.colorNivel}}</ion-col>
    </ion-row>
    <ion-row class="datamain3">
       <ion-col colspan="2">{{ avisoHidro.nomTitulo }}</ion-col>
    </ion-row>
    <ion-row >
      
   </ion-row>
    <ion-row class="datamain">
      <ion-row>
        <table class="tablavertC">
          <tr>
            <td class="tempdet3">Emitido</td>
            <td >:</td>
            <td style="text-align: left;margin-left: 2px;" colspan="4">{{ avisoHidro.fecEmi }} {{ avisoHidro.hrEmi }} (hora local)</td>
          </tr>
          <tr>
            <td class="tempdet3">Inicia</td>
            <td >:</td>
            <td style="text-align: left;margin-left: 2px;" colspan="4">{{ avisoHidro.fecIni }} (hora local)</td>
          </tr>
          <tr>
            <td class="tempdet3">Finaliza</td>
            <td >:</td>
            <td style="text-align: left;margin-left: 1px;" colspan="4">{{ avisoHidro.fecFin }} (hora local)</td>
           
          </tr>
          <tr>
            <td class="tempdet3">Plazo</td>
            <td >:</td>
            <td style="text-align: left;margin-left: 2px;">{{ avisoHidro.nomPlazo }}</td>
            
          </tr>
          <tr>
            <td class="tempdet3">Para la ubicación de</td>
            <td >:</td>
            <td style="text-align: left;margin-left: 2px;">{{ciudad}} </td>
            
          </tr>
        </table>
      </ion-row>

    </ion-row>

    <ion-row class="datamain">
      <ion-col><p>Lugares Afectados</p></ion-col>
      <ion-col><div [innerHTML]="getProvDistAfectados()"></div></ion-col>
    </ion-row>

    <ion-row class="datamain2">
      <table class="tablavert3">
        <tr>
          <td>Mapa</td>
          <td> <ion-col *ngFor="let fechasreg of argFecha;" (click)="openModal(fechasreg)">
            <ion-icon name="eye-outline"></ion-icon>
            {{ fechasreg | date :'dd-MMM' | titlecase }}
          </ion-col></td>
        </tr>
        <tr>
          <td>Nivel de Aviso según el usuario</td>
          <td [ngClass]="colorAviso(avisoHidro.codNivel)">
            <p [ngClass]="colortextoCuadro(avisoHidro.codNivel)">{{ avisoHidro.colorNivel}}</p>
          </td>
        </tr>
      </table>


  </ion-row>

    
    <ion-row class="datamainjust">
    
      <ion-col> {{ avisoHidro.descrip1 }}</ion-col>
    </ion-row>

    <ion-row class="datamainjust">
    
      <ion-col> {{ avisoHidro.descrip2 }}</ion-col>
    </ion-row>

    <ion-row class="datamain2">
    
      <ion-col>
        <ion-img class="imgmenutexto" [src]="avisoHidro.rutaImg">

        </ion-img>

      </ion-col>
    </ion-row>
    
    <ion-row class="datamain2Aviso">
      <ion-col [ngClass]="colorAviso(3)">
         {{ avisoHidro.msgRojo }}
      </ion-col>
    </ion-row>

    <ion-row class="datamain2Aviso">
      <ion-col [ngClass]="colorAviso(2)">
        {{ avisoHidro.msgNaranja }}
      </ion-col>
   </ion-row>

   <ion-row class="datamain2Aviso">
    <ion-col [ngClass]="colorAviso(1)">
      {{ avisoHidro.msgAmarillo }}
    </ion-col>
 </ion-row>
   
  </ion-grid>
</ion-content>