<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content responsive>
  <ion-grid style="margin-top: 20px"   class="full-width" class="cardtransparente" >
    <ion-row class="datamain2Aviso">
      <ion-col class="bannerAvisoBlanco">Aviso Nro {{avisoHidro.codAviso}}</ion-col>
      <ion-col [ngClass]="colorAviso(avisoHidro.codNivel)">Nivel {{ avisoHidro.colorNivel}}</ion-col>
    </ion-row>
    <ion-row class="datamain3">
       <ion-col colspan="2">{{ avisoHidro.nomTitulo }}</ion-col>
    </ion-row>
    <ion-row >
      
   </ion-row>
    <ion-row class="datamain">
      <ion-col>Fecha de Inicio :{{ avisoHidro.fecIni }}<br>
      Fecha  Fin : {{ avisoHidro.fecFin }} <br>
      Plazo : {{ avisoHidro.nomPlazo }}
      </ion-col>
    </ion-row>

    <ion-row class="datamain">
      <ion-col><p>Tipo de Aviso : {{ avisoHidro.codTipoAviso }}</p></ion-col>
    </ion-row>

    <ion-row class="datamain">
      <ion-col><p>Lugares Afectados</p></ion-col>
      <ion-col><div [innerHTML]="getProvDistAfectados()"></div></ion-col>
    </ion-row>

    <ion-row class="datamain2">
      <ion-col>VER MAPA</ion-col>
    </ion-row>
    
     <ion-row class="datamain2">
      <ion-col *ngFor="let fechasreg of argFecha;" (click)="openModal(fechasreg)">
         <ion-icon name="map-outline"  ></ion-icon>
         {{ fechasreg | date :'dd/MM/yy' }}
       </ion-col>
    </ion-row>

    
    <ion-row class="datamainjust">
    
      <ion-col> {{ avisoHidro.descrip1 }}</ion-col>
    </ion-row>

    <ion-row class="datamainjust">
    
      <ion-col> {{ avisoHidro.descrip2 }}</ion-col>
    </ion-row>

    <ion-row class="datamain2">
    
      <ion-col>
        <ion-img class="imgmenutexto" [src]="avisoHidro.rutaImg">

        </ion-img>

      </ion-col>
    </ion-row>
    
    <ion-row class="datamain2Aviso">
      <ion-col [ngClass]="colorAviso(3)">
         {{ avisoHidro.msgRojo }}
      </ion-col>
    </ion-row>

    <ion-row class="datamain2Aviso">
      <ion-col [ngClass]="colorAviso(2)">
        {{ avisoHidro.msgNaranja }}
      </ion-col>
   </ion-row>

   <ion-row class="datamain2Aviso">
    <ion-col [ngClass]="colorAviso(1)">
      {{ avisoHidro.msgAmarillo }}
    </ion-col>
 </ion-row>
   
  </ion-grid>
</ion-content>