<ion-header>

</ion-header>

<ion-content padding responsive>
  <ion-grid  class="full-width" class="cardtransparente" >
    <ion-row style="margin-top:60px" class="datamain2Aviso">
      <!--<ion-col class="bannerAvisoBlanco">Aviso Nro {{ caviso }}</ion-col>-->
      <ion-col colspan="2" [ngClass]="colorAviso(cnivel)">AVISO NIVEL {{ textoNivel(colnivel) | uppercase }}</ion-col>
    </ion-row>
    <ion-row class="datamain3">
      <ion-icon name="arrow-undo-outline" (click)="retornar()"></ion-icon>
       <ion-col colspan="2">{{ nTitulo | uppercase }}</ion-col>
    </ion-row>
    <ion-row >
      
   </ion-row>
   <ion-row >
    <table class="tablavertC">
      <tr>
        <td class="tempdet3">Emitido</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;" colspan="4">{{fechacat(fEmi, 0)}} (hora local) </td>
      </tr>
      <tr>
        <td class="tempdet3">Inicia</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;" colspan="4">{{ fechacat(fIni, 0)}} (hora local)</td>
      </tr>
      <tr>
        <td class="tempdet3">Finaliza</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 1px;" colspan="4">{{ fechacat(fFin,0 )}} (hora local) </td>
       
      </tr>
      <tr>
        <td class="tempdet3">Plazo</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;">{{ nPlazo }}</td>
        
      </tr>
      <tr>
        <td class="tempdet3">Para la ubicación de</td>
        <td >:</td>
        <td style="text-align: left;margin-left: 2px;">{{ciudad}} </td>
        
      </tr>
    </table>

   </ion-row>

    <ion-row class="datamain">
      <ion-col><p>Lugares Afectados</p></ion-col>
      <ion-col><div [innerHTML]="getProvDistAfectados()"></div></ion-col>
    </ion-row>

    <ion-row class="datamain2">
        <table class="tablavert3">
          <tr>
            <td>Mapas</td>
            <td> <ion-col *ngFor="let fechasreg of argFecha;" (click)="openModal(fechasreg)">
              <ion-icon name="eye-outline"  ></ion-icon>
              {{ fechasreg | date :'dd-MMM' | titlecase }}
            </ion-col></td>
          </tr>
          <tr>
            <td>Nivel de Aviso según el usuario</td>
            <td [ngClass]="colorAvisoCuadro(codniubica)"><p [ngClass]="colortextoCuadro(codniubica)">{{ nivelubica | titlecase}}</p></td>
          </tr>
        </table>


    </ion-row>

    <ion-row class="datamainjust">
    
      <ion-col>{{desc2}}</ion-col>
    </ion-row>

    <ion-row class="datamainjust">
      <ion-col><p>Recomendación:</p><p> {{recomendacion}}</p></ion-col>
     </ion-row>

    <!--
      <ion-row class="datamainjust">
    
      <ion-col>{{desc1}}</ion-col>
    </ion-row>
      
      <ion-row class="datamain2">
    
      <ion-col>
        <ion-img class="imgmenutexto" [src]="rutaimg">

        </ion-img>

      </ion-col>
    </ion-row>
    
    <ion-row class="datamain2Aviso">
       <ion-col [ngClass]="colorAviso(3)"> {{ mgrojo }}
      </ion-col>
    </ion-row>

    <ion-row class="datamain2Aviso">
      <ion-col [ngClass]="colorAviso(2)"> {{ mgnaranja }}
     </ion-col>
   </ion-row>

   <ion-row class="datamain2Aviso">
    <ion-col [ngClass]="colorAviso(1)"> {{ mgamarillo }}
   </ion-col>
 </ion-row>-->
   
  </ion-grid>
</ion-content>